.adminForm {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.adminForm form {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.adminForm form input {
  display: block;
  width: 450px;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
}

@media screen and (max-width:500px) {

  .adminForm form input {
    width: 300px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 5px;
  }

}