.contact-form input {
  width: 500px;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.contact-form textarea {
  width: 500px;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.contact-form button {
  width: 90px;
}
.navbar a{
  text-decoration: none;
  font-size: large;
  padding: 5px 15px;
} 
.our-services {
  margin: 1rem 0rem;
  padding: 10px 50px;
  display: grid;
  justify-content: center;
  gap: 25px;
  font-family: "Be Vietnam Pro", sans-serif;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.our-services div {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  gap: 5px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
}

.our-Services h4 {
  padding-top: 10px;
}

.our-services img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.sliderstyle img {
  width: 5rem;
  height: 5rem;
  display: block;
}

iframe {
  width: 80%;
  height: 60vh;
  border-radius: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
}
.nav-a{
  color: white;
}
@media screen and (max-width:550px) {
  .navbar h2 span {
    display: block;
  }

  .sliderstyle {
    flex-direction: column;
    height: 40vh;
    gap: 0rem;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
  }
  .container-fluid a{
    margin: 0px;
    padding: 0px;
  }
  .contact-form input {
    width: 300px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 5px;
  }

  .contact-form textarea {
    width: 300px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 5px;
  }
}
@media screen and (max-width:1000px) {
  #navbarNav ul{
    align-items: center;
  }
}

@media screen and (min-width:600px) {
  .sliderstyle img {
    width: 5rem;
    height: 5rem;
  }

}